aula 12_07-11/n8n_My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "id": "44d32ec6-14be-40e8-93d4-2161856c2bc5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        100
      ],
      "webhookId": "6db1cc48-3085-46d2-aac8-2d78a11e8046"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68ae7344-d6b2-4e83-8a6e-7594df796659",
              "name": "telefoneCliente",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "712078db-ee81-4e7c-9712-09f6edd45a6b",
              "name": "telefoneEmpresa",
              "value": "={{ $json.body.sender }}",
              "type": "string"
            },
            {
              "id": "f6f769a1-04a5-4c8d-88a0-d9bdc6d56f2f",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "6959e243-223d-4d30-8a6f-0f80fa828560",
              "name": "nomeCliente",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "322ead04-6387-4766-9c97-fd7bb84f5a68",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "535e6aad-9334-40cd-b3c3-746df7ff765e",
              "leftValue": "={{ $('Webhook').item.json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff684e04-8dab-43ca-99d4-457e84953f76",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.22.5.151:8090/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "B96BDA563D4C94BE990DA8D63081C5EFA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.telefoneCliente }}"
            },
            {
              "name": "text",
              "value": "Fala bro!"
            }
          ]
        },
        "options": {}
      },
      "id": "9089f91a-2929-4ab2-b273-9b383b6a7924",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        380
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6a6cb02-9169-4937-a85c-c67b8557a521",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2dc26393c059f317eac3a6ae4ee0dacc1c1afef2527bfb21ac8524a40e66d70b"
  },
  "id": "cCRbk4qSyaOgNmke",
  "tags": []
}